<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <title>エラー</title>
    <meta name="copyright" content="Copyright XSERVER Inc.">
    <meta name="robots" content="INDEX,FOLLOW" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href=" /public/css/error.css">
</head>

<body>

<div id="base">
    <h1><span>エラー！！</span></h1>
    <h2>申し訳ございませんが、しばらく待っていただくか、もう一度最初からやり直してください。</h2>
    <p class="explain">このエラーは、何らかの障害が発生した事を意味します</p>
    <h3>以下のような原因が考えられます。</h3>
    <div id="white_box">
        <div id="cause">
            <ul>
                <li>サーバの障害</li>
                <li>メンテナンス中</li>
            </ul>
        </div>
    </div>
    <!--//base--></div>
</body>
</html>
