<!DOCTYPE html>
<html lang="ja">
<head>
    <title>従業員情報追加｜ScottAdmin</title>
    <link rel="stylesheet" type="text/css" href=" /public/css/main.css">
    <meta charset="utf-8">
</head>
<body>
<h1>従業員情報追加</h1>
<nav>
    <ul>
        <li><a href=" /">TOP</a></li>
        <li><a href=" /App/EmpList">従業員リスト</a></li>
        <li>従業員情報追加</li>
    </ul>
</nav>



<section>
    <p>情報を入力し、登録ボタンをクリックしてください</p>
    {{template "flash.html" .}}

    <form action=" /App/EmpAdd" method="post">
        <table>
            <tbody>
            <tr>
                <th>従業員番号&nbsp;<span class="required">必須</span></th>
                {{ with $field := field "addEmpEmpno" . }}
                <td><input type="text" id="addEmpEmpno" name="addEmpEmpno" value="{{ $field.Flash }}"></td>
                {{ end }}
            </tr>
            <tr>
                <th>従業員名&nbsp;<span class="required">必須</span></th>
                {{ with $field := field "addEmpEname" . }}
                <td><input type="text" id="addEmpEname" name="addEmpEname" value="{{ $field.Flash }}"></td>
                {{ end }}
            </tr>

            <tr>
                <th>役職&nbsp;<span class="required">必須</span></th>
                {{ with $field := field "addEmpJob" . }}
                <td><input type="text" id="addEmpJob" name="addEmpJob" value="{{ $field.Flash }}"></td>
                {{ end }}
            </tr>

            <tr>
                <th>上司番号&nbsp;<span class="required">必須</span></th>
                <td>
                    <select name="addEmpMgr" id="addEmpMgr">
                        <option value="">選択してください</option>
                        <option value="0">0:上司なし</option>
                    {{ range .empList }}
                        <option value="{{ .Empno }}">{{ .Empno }}:{{  .Ename }}</option>
                    {{ end }}
					</select>
                </td>
            </tr>
            <tr>
                <th>雇用日&nbsp;<span class="required">必須</span></th>
                <td>
                    <select name="addEmpHiredateYear" id="addEmpHiredateYear">
                    <option value="">選択してください</option>
                    {{ range .year}}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}

                </select>
                年
                <select name="addEmpHiredateMonth" id="addEmpHiredateMonth">
                    <option value="">選択してください</option>
                    {{ range .month}}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}

                </select>
                月
                <select name="addEmpHiredateDay" id="addEmpHiredateDay">
                    <option value="">選択してください</option>
                    {{ range .day}}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                日
                </td>
            </tr>
            <tr>
                <th>給与&nbsp;<span class="required">必須</span></th>
                {{ with $field := field "addEmpSal" . }}
                <td><input type="text" id="addEmpSal" name="addEmpSal" value="{{ $field.Flash }}"></td>
                {{ end }}
            </tr>

            <tr>
                <th>歩合&nbsp;<span class="required">必須</span></th>
                {{ with $field := field "addEmpComm" . }}
                <td><input type="text" id="addEmpComm" name="addEmpComm" value="{{ $field.Flash }}"></td>
                {{ end }}
            </tr>
            <tr>
                <th>部門番号&nbsp;<span class="required">必須</span></th>
                <td>
                    <select name="addEmpDeptno" id="addEmpDeptno">
                        <option value="">選択してください</option>
                        {{ range .deptList }}
                        <option value="{{ .Deptno }}">{{ .Deptno }}:{{ .Dname }}</option>
                        {{ end }}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="submit"><input type="submit" value="登録"></td>
            </tr>
            </tbody>
        </table>
    </form>
</section>
</body>
</html>